.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.choice:hover {
    background-color: #081b31;
    transform: scale(1.05);
}
